[data-md-color-scheme="codeigniter"] {
    --md-primary-fg-color:        #dd4814;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;

    --md-default-bg-color: #fcfcfc;

    --md-typeset-a-color: #e74c3c;
    --md-accent-fg-color: #97310e;

    --md-accent-fg-color--transparent: #ECB7B7;

    --md-code-bg-color: #ffffff;

    .md-typeset h5 {
        text-transform: none;
    }

    .md-typeset h5, .md-typeset h6 {
        font-size: .9em;
    }

    .md-typeset code {
        border: 1px solid #e1e4e5;
    }

    .md-typeset .admonition.important,
    .md-typeset details.important {
        border-color: #dd4814;
    }

    .md-typeset .important > .admonition-title:before,
    .md-typeset .important > summary:before {
        background-color: #dd4814;
        -webkit-mask-image: var(--md-admonition-icon--warning);
        mask-image: var(--md-admonition-icon--warning);
    }
}
