:root {
    --primary: #0275d8;
    --body-bg: #F1F5F9;
    --black: #222222;
    --blue: #2470dc;
    --grey: #727272;
    --light-grey: #d2d2d2;
    --white: #f7f7f7;
    --success: #5cb85c;
    --info: #5bc0de;
    --warning: #f0ad4e;
    --danger: #d9534f;
    --dark: #292b2c;
}
/*
 * --------------------------------------------------------------------------
 * LAYOUT
 * --------------------------------------------------------------------------
 */
body {
    font-size: 1rem;
    background: var(--body-bg);
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0 0 48px 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: 100%;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: var(--grey);
}

.sidebar .nav-link.active {
    color: var(--blue);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

/*
 * --------------------------------------------------------------------------
 * FORMS
 * --------------------------------------------------------------------------
 */

.form-control-dark {
    color: #fff;
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

input.form-control,
select.form-select {
    padding: 0.5rem 1.25rem !important;
}

label.form-label {
    font-weight: bolder !important;
    margin-top: 0.5rem;
}

fieldset {
    border-bottom: solid 1px var(--light-grey);
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

/*
 * --------------------------------------------------------------------------
 * TABS
 * --------------------------------------------------------------------------
 */
.nav-item .nav-link,
.nav-item .nav-link {
    font-size: 20px;
    color: var(--grey);
    padding: 0.75rem 1rem;
}
.nav-item .nav-link.active {
    color: var(--black)
}

/*
 * --------------------------------------------------------------------------
 * BUTTONS
 * --------------------------------------------------------------------------
 */

.btn-primary {
    color: var(--white);
}
.btn-3-dots:after {
    content: '\2026';
    border: none !important;
    font-size: 36px;
    margin-top: -10px;
    line-height: 0;
}

/*
 * --------------------------------------------------------------------------
 * ALERTS
 * --------------------------------------------------------------------------
 */

#alerts-wrapper {
    top: 30px !important;
    right: 1% !important;
    left: auto !important;
    min-width: 20rem !important;
}
#alerts-wrapper .alert {
    background: var(--white);
    border: 1px solid var(--light-grey);
    opacity: 0.8;
}
#alerts-wrapper .alert-info {
    border-bottom: 3px solid var(--info);
}
#alerts-wrapper .alert-warning {
    border-bottom: 3px solid var(--warning);
}
#alerts-wrapper .alert-danger {
    border-bottom: 3px solid var(--danger);
}
#alerts-wrapper .alert-success {
    border-bottom: 3px solid var(--success);
}

.text-info {
    color: var(--info);
}
.text-danger {
    color: var(--danger);
}
.text-warning {
    color: var(--warning);
}
.text-success {
    color: var(--success);
}

/*
 * --------------------------------------------------------------------------
 * RESOURCE FILTERS
 * --------------------------------------------------------------------------
 */
.filters {
    padding: 1rem 1rem 1.5rem 1rem;
}
.filters h2 {
    font-size: 0.86rem;
    font-weight: lighter;
    text-transform: uppercase;
}
.filters ul {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: 1.38rem;
    min-width: 11rem;
}
.filters ul:last-child {
    border-bottom: none;
}
.filters li {
    font-size: 1rem;
}
.filters li .form-check-label {
    color: var(--black);
    font-weight: 300;
}
